/*
This is the .css file for index.html and it can be found at the top level

===GENERAL STYLES===
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

h1 {
  margin: 0;
  color: white;
  font-size: 250%;
  font-family: montserrat-reg, arial, sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 4px;
}

/*
===Header and hero section styles===
*/
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/main/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

/*
not needed at the moment
.logo-round {
  width:100px;
  height:100px;
  border-radius:150px;
  margin: 10px 0px 0px 10px;
}
*/
.hero-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
}


/*
Buttons on the hero image header
*/
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  color: white;
  border-radius: 200px;
  border: 3px solid #1A75BB;
  margin: 20px 20px 0px 0px;
}

.btn:hover,
.btn:active {
  background-color: #14598e;
  border-color: #14598e;
}

.btn-full:link,
.btn-full:visited {
  background-color: #1A75BB;
  margin-right: 20px;
}

.btn-full:hover,
.btn-full:active {
    background-color: #14598e;
}

.btn-ghost:link,
.btn-ghost:visited {

}


/*
===Dropdown Menu===
*/
menu {
  height: 60px;
}
