
/*Fontfaces added*/
@font-face {
    font-family: 'montserrat-reg';
    src: url("../fonts/montserrat/Montserrat-Regular.otf") format('opentype');
}

@font-face {
    font-family: 'montserrat-bol';
    src: url("../fonts/montserrat/Montserrat-Bold.otf") format('opentype');
}

@font-face {
    font-family: 'montserrat-light';
    src: url("../fonts/montserrat/Montserrat-Light.otf") format('opentype');
}

* {
  font-family: montserrat-reg, arial, sans-serif;
  color: black;
}
